body {
  font-family: 'Quicksand', sans-serif; /* Match the body font-family */
  background-color: #fafafa; /* Match the body background color */
  margin: 20px 20px; /* Match the body margin */
  display: grid;
  place-items: center;
  height: 100vh;
}

form {
  background-color: #FFCFCF; /* Match the form background color */
  padding: 30px; /* Match the form padding */
  border-radius: 15x;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  width: 360px;
}

.label-group {
  display: block;
  margin-bottom: 10px; /* Adjusted for better spacing */
  color: #444; /* Match the body text color */
}

input,
select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  background-color: #FFB3A9; /* Match the button background color */
  color: #444; /* Match the body text color */
  padding: 10px 16px;
  border: 0;
  border-radius: 36px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9B506B; /* Match the nav-link hover color */
  color: #fff;
}