@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 
form {
  background-color: #FFCFCF; /* Match the form background color */
  padding: 30px; /* Match the form padding */
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  width: 360px; /* Match the form width */
  margin: 0 auto; /* Center the form horizontally */
}

label {
  display: block;
  margin-bottom: 5px; /* Adjusted for better spacing */
  color: #444; /* Match the body text color */
  margin-top: 15px;

}

input {
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 5px;
}

button {
  background-color: #FFB3A9; /* Match the button background color */
  color: #444; /* Match the body text color */
  padding: 10px 15px; 
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9B506B; /* Match the nav-link hover color */
  color: #fff;
}

a {
  color: #444; /* Match the body text color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* LoginForm.css */

.radio-group {
  display: flex;
  gap: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
}

.radio-group input {
  margin-right: 5px;
}

.radio-group span {
  margin-left: 5px;
}
