form {
  background-color: #FFCFCF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-gap: 15px;
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #9B506B;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #9B506B;
  border-radius: 4px;
}

button {
  background-color: #FFB3A9;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #9B506B;
}

a {
  color: #9B506B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* LoginForm.css */

.radio-group {
  display: flex;
  gap: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
}

.radio-group input {
  margin-right: 5px;
}

.radio-group span {
  margin-left: 5px;
}
