
.nav-class {
  background-color: #fafafa; /* Match the body background color */
  padding: 20px 40px; /* Match the body margin */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1dvh;
  width: 90vw;
  box-sizing: border-box;
}

.nav-title {
  font-size: 1.5em; /* Adjust the font size */
  margin-right: auto; /* Push the title to the left */
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: #444; /* Match the body text color */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px 16px;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff0099; /* Match the error text color */
}