@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.about-container {
  font-family: 'Quicksand', sans-serif;
  /* margin: 10px 20px; */
  display:block;
  place-items: center;
  max-width: 900px; /* Adjust the max-width to your preference */
  margin-left: auto;
  margin-right: auto;
}

.about-container p {
  color: #444;
}

.team-member {
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px;
  text-align:justify;
  margin: 20px;
}

.team-member img {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
}

.about-container h2,
.about-container h4 {
  color: #ff0099; 
}

.about-container h3 {
  color: #444; 
}

.team-member p {
  color: black;
}

.member-text {
  margin-left: 30px;
}

.member-text h3 {
  color: #ff0099; 
}
